body {
    background-color: #f0f0f0;
}

.header {
    width: 100%;
    height: 50px;
    background-color: #303b44;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 38px;
}

.nav {
    width: 100%;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
}


.nav div a {
    text-decoration: none;
    line-height: 20px;
    color: black;
    height: 20px;
    display: inline;
}

.nav div {
    display: inline;
    float: left;
    margin-left: 10px;
}

.nav div {
    list-style-type: none;
}

.nav div a:hover {
    background: red;
    color: white;
}

.main {

    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.main div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: white;
}

.main div a {
    list-style-type: none;
    text-decoration: none;
    color: black;
}

.main div a:hover {
    color: blue;
}

.footer {
    width: 100%;
    height: 80px;
    background-color: #303b44;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    margin-top: 40px;
}

.social {
    display: inline-block;
}

.social a {
    display: block;
    width: 48px;
    height: 48px;
    margin: 0 10px 10px 0;
    text-align: center;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.social a:hover {
    border-color: #888;
    opacity: .8;
}

.social svg {
    margin-top: 7px;
    width: 32px;
    height: 32px;
}

.skype a {
    background: #00aff0
}

.telegram a {
    background: #249bd7
}

.twitter a {
    background: #00acee
}

.vk a {
    background: #4a76a8
}

.whatsapp a {
    background: #50b154
}

.btn-up {
    position: fixed;
    background-color: #f57c00;
    left: 20px;
    bottom: 30px;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.15s ease-in-out, transform 0.3s ease-in-out;
    color: #fff;
    width: 50px;
    height: 50px;
    opacity: 1;
    transform: translateY(0);
}

.btn-up_hide {
    display: none;
}

.btn-up_hiding {
    opacity: 0;
    transform: translateY(100px);
}

.btn-up-icon {
    width: 40px;
    height: 40px;
    fill: currentcolor;
}

@media (hover: hover) and (pointer: fine) {
    .btn-up:hover {
        background-color: #ef6c00;
    }
}